.multimedia {
    overflow: hidden;
}

.multimedia video {
    object-fit: cover;
    cursor: pointer;
}

.multimedia_size_m {
    height: 400px;
    width: 350px;
}

.multimedia_border_m {
    border-radius: 24px;
}

.multimedia_type_flower-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 520px;
    height: 520px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.multimedia_type_card-container {
    position: relative;
    border-radius: 6px;
    height: 250px;
    min-width: 280px;
    overflow: hidden;
    cursor: pointer;
}

.multimedia_type_card-container img {
    height: 100%;
    max-width: 580px;
    width: 100%;
    min-width: 280px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 6px;
}

.multimedia_type_card-container-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #1A3E3E4D;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.6s, ease-in-out 0.5s;
}

.multimedia_type_card-container-dark:hover {
    opacity: 1;
}

.multimedia_type_card-container-dark img {
    min-width: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
    max-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
}

.multimedia_wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.multimedia__button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.multimedia__arrow-left, .multimedia__arrow-right {
    height: 50px;
    width: 50px;
    fill: rgba(0, 0, 0, 0.292);
    display: none;
    transition: background-color 3s, transform 0.5s;
}

.multimedia__arrow-left:hover {
    transform: rotate(180deg) translateY(-13px) scale(1.1);
    fill: rgba(0, 0, 0, 0.593);
}

.multimedia__arrow-right:hover {
    transform: scale(1.1);
    fill: rgba(0, 0, 0, 0.593);
}

.multimedia__arrow-left {
    transform: rotate(180deg) translateY(-13px);
    left: 0;
    bottom: 110px;
}

.multimedia__arrow-right {
    right: 0;
    bottom: 110px;
}

.multimedia__modal {
    position: absolute;
    top: 0;
    z-index: 5;
    padding: 10px;
    border-radius: 10px;
    display: none;
    vertical-align: middle;
    overflow: auto;
}

.multimedia__bg-dark {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.584);
    cursor: pointer;
}

.multimedia_wrapper::-webkit-scrollbar {
    display: none;
}

.multimedia_type_flower {
    cursor: pointer;
    width: 250px;
    height: 250px;
    transition: background-color 3s, transform 0.5s;
}

.multimedia_type_flower:hover {
    transform: scale(1.05);
}

.multimedia_border_flower_type_right {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.multimedia_border_flower_type_left {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.multimedia_margin_right {
    margin-right: 80px;
}

@media (max-width: 425px) {
    .multimedia_size_m {
        height: 300px;
        width: 250px;
    }

    .multimedia_margin_right {
        margin-right: 0;
    }

    .multimedia_type_flower {
        width: 100px;
        height: 100px;
    }

    .multimedia_type_flower-container {
        width: 220px;
        height: 220px;
    }

    .multimedia_border_flower_type_right {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .multimedia_border_flower_type_left {
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .multimedia_type_card-container img {
        max-width: 280px;
        min-width: 280px;
    }

    .multimedia_wrapper {
        flex-wrap: nowrap;
    }

    .multimedia__arrow-left, .multimedia__arrow-right {
        display: block;
    }
}

@media (min-width: 425px) and (max-width: 1440px) {
    .multimedia_size_m {
        height: 350px;
        width: 300px;
    }

    .multimedia_margin_right {
        margin-right: 60px;
    }

    .multimedia_type_flower {
        width: 170px;
        height: 170px;
    }

    .multimedia_type_flower-container {
        width: 360px;
        height: 360px;
    }

    .multimedia_border_flower_type_right {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .multimedia_border_flower_type_left {
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .multimedia_type_card-container img {
        max-width: 340px;
        min-width: 340px;
    }

    .multimedia_wrapper {
        flex-wrap: nowrap;
    }

    .multimedia__arrow-left, .multimedia__arrow-right {
        display: block;
    }
}